<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fityan.lister"
    >

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_lister"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lister_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasKita"
        >
        <activity
            android:name="com.fityan.lister.activities.ShareTaskActivity"
            android:exported="false"
            android:label="Share To..."
            android:parentActivityName="com.fityan.lister.activities.DetailTaskActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.ManageSharedTaskActivity"
            android:exported="false"
            android:label="Manage Access"
            android:parentActivityName="com.fityan.lister.activities.SharedTaskListActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.SharedTaskListActivity"
            android:exported="false"
            android:label="Shared List"
            android:parentActivityName="com.fityan.lister.activities.DetailTaskActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.ForgotPasswordActivity"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName="com.fityan.lister.activities.LoginActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.DetailTaskActivity"
            android:exported="false"
            android:label="Detail Task"
            android:parentActivityName="com.fityan.lister.activities.MainActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.EditTaskActivity"
            android:exported="false"
            android:label="Edit Task"
            android:parentActivityName="com.fityan.lister.activities.DetailTaskActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.AddTaskActivity"
            android:exported="false"
            android:label="Add Task"
            android:parentActivityName="com.fityan.lister.activities.MainActivity"
            />
        <activity
            android:name="com.fityan.lister.activities.UpdateProfileActivity"
            android:exported="false"
            />
        <activity
            android:name="com.fityan.lister.activities.VerifyEmailActivity"
            android:exported="false"
            />
        <activity
            android:name="com.fityan.lister.activities.SplashActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fityan.lister.activities.LoginActivity"
            android:exported="false"
            />
        <activity
            android:name="com.fityan.lister.activities.RegisterActivity"
            android:exported="false"
            />
        <activity
            android:name="com.fityan.lister.activities.MainActivity"
            android:exported="false"
            />
    </application>

</manifest>
